@font-face {
  font-family: "iconfont"; /* Project id 1723387 */
  src: url('//at.alicdn.com/t/font_1723387_ljva4f3pg4s.woff2?t=1647138699892') format('woff2'),
       url('//at.alicdn.com/t/font_1723387_ljva4f3pg4s.woff?t=1647138699892') format('woff'),
       url('//at.alicdn.com/t/font_1723387_ljva4f3pg4s.ttf?t=1647138699892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e69a";
}

.icon-comment1:before {
  content: "\e6cc";
}

.icon-good:before {
  content: "\e673";
}

.icon-home:before {
  content: "\e674";
}

.icon-share:before {
  content: "\e67d";
}

.icon-qingchu:before {
  content: "\e618";
}

.icon-bofangye-caozuolan-suijibofang:before {
  content: "\e60a";
}

.icon-shunxubofang:before {
  content: "\e668";
}

.icon-danquxunhuan:before {
  content: "\e6e3";
}

.icon-you:before {
  content: "\e609";
}

.icon-bofang1:before {
  content: "\e6ef";
}

.icon-ico:before {
  content: "\e600";
}

.icon-jilu:before {
  content: "\e61c";
}

.icon-comment:before {
  content: "\e64c";
}

.icon-fenxiang:before {
  content: "\e667";
}

.icon-tianjia:before {
  content: "\e636";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-fabu:before {
  content: "\e64d";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-zanting:before {
  content: "\e632";
}

.icon-bofang:before {
  content: "\e635";
}

